.friend {
  font-size: 14px;
  width:200px;
  float: left;
  height:50px;
  overflow:hidden;
  cursor: pointer;
  margin:5px;
  background:#EEEEEE;
  img {
    display:block;
    float:left;
    margin-right:5px;
  }
}